@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h2 class="intro-text text-center">
                    @*<p style="font-family:Lucida Bright;">
        <strong></strong>
        </p>*@
                </h2>
                
            </div>
            <div class="col-md-6 text-center">
                <img alt="" src="~/img/about1.jpg" class="img-responsive thumbnail">
                
            </div>

            <div class="col-md-6">
                <p style="font-family:Lucida Bright;">We take pride in offering  you a beautiful, relaxed setting for any event.  This includes but is not limited to:</p>
                <ul>
                    <li><p style="font-family:Lucida Bright;">Kitchen Teas</p></li>
                    <li><p style="font-family:Lucida Bright;">Baby Showers</p></li>
                    <li><p style="font-family:Lucida Bright;">Birthday Parties</p></li>
                    <li><p style="font-family:Lucida Bright;">Anniversaries</p></li>
                    <li><p style="font-family:Lucida Bright;">Small, intimate weddings</p></li>
                    <li><p style="font-family:Lucida Bright;">Christenings</p></li>
                    <li><p style="font-family:Lucida Bright;">Year-End functions</p></li>
                    <li><p style="font-family:Lucida Bright;">Conferences</p></li>
                    <li><p style="font-family:Lucida Bright;">Workshops</p></li>

                </ul>



                @*<p>hhhThis is a great place to introduce your company or project and describe what you do.</p>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>*@
            </div>
            @*<div class="col-md-6">
                    <img alt="" src="~/img/slide-2.jpg" class="img-responsive img-border-left">
                </div>*@
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h2 class="intro-text text-center">
                   
                </h2>
                
            </div>

            <div class="col-md-6">
                <p style="font-family:Lucida Bright;">The Barn can accommodate a maximum of 60 guests.  Included in our Standard Venue Fee are the following support services:</p>
                <ul>
                    <li><p style="font-family:Lucida Bright;">Rustic, wooden tables</p></li>
                    <li><p style="font-family:Lucida Bright;">Tiffany chairs</p></li>
                    <li><p style="font-family:Lucida Bright;">Welcome board</p></li>
                    <li><p style="font-family:Lucida Bright;">Wooden crates and grass bales to compliment the Barn atmosphere and theme</p></li>
                    <li><p style="font-family:Lucida Bright;">Sound System</p></li>
                    <li><p style="font-family:Lucida Bright;">Secure parking</p></li>
                    <li><p style="font-family:Lucida Bright;">We cater for people with disabilities</p></li>
                    <li><p style="font-family:Lucida Bright;">Baby changing facilities</p></li>
                    <li><p style="font-family:Lucida Bright;">Unique"country-fair" Garden Games </p></li>

                </ul>


                @*<p>hhhThis is a great place to introduce your company or project and describe what you do.</p>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>*@
            </div>
            <div class="col-md-6 text-center">
                <img alt="" src="~/img/about23.jpg" class="img-responsive thumbnail">
              
            </div>
            @*<div class="col-md-6">
                    <img alt="" src="~/img/slide-2.jpg" class="img-responsive img-border-left">
                </div>*@
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                
                <h2 class="intro-text text-center">
                    
                </h2>
                
            </div>
            <div class="col-md-6 text-center">
                <img alt="" src="~/img/about3.jpg" class="img-responsive thumbnail">
              
            </div>

            <div class="col-md-6">
                <p style="font-family:Lucida Bright;">In addition to this we offer a range of services for your convenience.  These include the following and can be quoted for seperately according to your needs:</p>
                <ul>
                    <li><p style="font-family:Lucida Bright;">The use of our Proxima system for presentations</p></li>
                    <li>
                        <p style="font-family:Lucida Bright;">
                            We are able to provide crockery and cutlery sets for a custom table settings.<br />
                            <small>
                                <i>
                                    Carefully chosen to support the Barn theme this includes: <br /> White enamel cups, spoons and plates.<br />
                                    Silver 	underplates and cutlery.  <br />White linnen serviettes, unique consol type glasses 	and white side plates
                                </i>
                            </small>
                        </p>
                    </li>
                    <li><p style="font-family:Lucida Bright;">Callico and Burlap table runners</p></li>
                    <li><p style="font-family:Lucida Bright;">Wooden slabs for center pieces</p></li>
                    <li><p style="font-family:Lucida Bright;">Wooden cup-cake stands</p></li>
                    <li>
                        <p style="font-family:Lucida Bright;">
                            Carefully selected caterors to see to your every culinary need.  <br /><i>
                                <small> Clients are welcome to arrange for their own caterors as well at no extra cost.</small>
                            </i>
                        </p>
                    </li>


                </ul>

                @*<p>hhhThis is a great place to introduce your company or project and describe what you do.</p>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>*@
            </div>
            @*<div class="col-md-6">
                    <img alt="" src="~/img/slide-2.jpg" class="img-responsive img-border-left">
                </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</div>